.content{
    padding: 20px;
    /* height: 100%; */
    text-align: center;
    justify-items: center;
}
.main-video{
    overflow: hidden;
    width: 700px;
    height: 300px;
}
.ourvideo{
    width: 100%;
}
.main-about{
    margin: auto;
    width: 80%;
    display: flex;
    gap: 20px;
    padding: 20px 0;
}
h1{
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
  }